.empty_cart{
    margin: 0 auto;
    min-width: 1500px;
    background-color: #EAEDED;
    padding: 20px;
    height: 100vh;
    display: flex;
}
.empty_cart__left{
    background-color: white;
    flex: 1;
    height: 280px;
    display: flex;

}
.empty_cart__left>img{
    width: 410px;
    height: 230px;
    margin: 20px;

}
.empty_cart__right{
    background-color: white;
    margin-left: 20px;
    width: 300px;
    height: 50vh;
    

}
.empty_cart__left__right{
    padding-top: 50px;

}
.empty_cart__left__right>h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

}
.shop_deal{
    text-decoration: none;
    color: #007185;
}
.shop_deal:hover{
    text-decoration: underline;
    color: rgb(224, 248, 3);
}
.empty_cart__signin{
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    background-color: rgb(187, 255, 0);
    text-decoration: none;
    text-align: center;
    padding:  5px 10px;
    border-radius: 10px;
    color: black;
}
.empty_cart__signin:hover{
    
    background-color: rgb(176, 238, 5);
    text-decoration: none;
  
    color: black;
}
.empty_cart__signup{
    line-height: 24px;
    font-size: 16px;
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    padding: 5px  10px;
    box-shadow: 4px 2px 52px -16px rgba(0,0,0,0.59);
    border-radius: 10px;
    color: black;
    font-weight: 500;
}
.empty_cart__signup:hover{
    
    background-color: rgb(253, 239, 239);
    text-decoration: none;
  
    color: black;
}
.account_options{
    margin-top: 20px;
}
















































































































































