{% extends 'admin/base.html' %}
      {% block title %}
        Subcategories | Amazon
      {% endblock title %}

    {% block page_title %}
        Subcategories
    {% endblock page_title %}
    {% block page %}
        <a href="{% url 'sub_category_create' %}" class="btn btn-outline-primary">Create a Subcategory</a>
    {% endblock page %}
{% block page_content %}
   <ol class="list-group list-group-numbered ">
    {% for subcategory in object_list %}
          <li class="list-group-item col-6 ml-5">
            <div class="ms-2 d-flex align-items-center justify-content-between">
              <div > <strong>{{ forloop.counter }}.</strong>

                  <a  href="{% url 'sub_category_detail' subcategory.id %}">{{ subcategory.title}}</a>
              </div>
                <div style="display:flex">
                    <a  href="{% url 'subcategory_products' subcategory.id %}" class="btn ml-auto">Products</a>
                    <a  href="{% url 'sub_category_delete' subcategory.id %}" class="btn ml-auto">Delete</a>
                </div>
            </div>
          </li>

    {% endfor%}
    </ol>
{% endblock page_content %}
